@import "custom_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";

//
// Bootstrap Overrides
//

.btn {
    border-radius: 500px;
}

button {
    cursor: pointer;
}

.btn-sm {
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 12px 30px;
}

//
// Color Classes
//

.color-blue {
    color: $blue;
}

.color-indigo {
    color: $indigo;
}

.color-purple {
    color: $purple;
}

.color-pink {
    color: $pink;
}

.color-red {
    color: $red;
}

.color-orange {
    color: $orange;
}

.color-yellow {
    color: $yellow;
}

.color-green {
    color: $green;
}

.color-teal {
    color: $teal;
}

.color-cyan {
    color: $cyan;
}

.color-blue:hover {
    color: $blue;
}

.color-indigo:hover {
    color: $indigo;
}

.color-purple:hover {
    color: $purple;
}

.color-pink:hover {
    color: $pink;
}

.color-red:hover {
    color: $red;
}

.color-orange:hover {
    color: $orange;
}

.color-yellow:hover {
    color: $yellow;
}

.color-green:hover {
    color: $green;
}

.color-teal:hover {
    color: $teal;
}

.color-cyan:hover {
    color: $cyan;
}

//
// Color Backgrounds
//

.gray-bg {
    background-color: #EEF2F6;
    padding: $grid-gutter-width;
}

//
// Navbar
//

.fs_navbar {
    position: absolute;
    right: 0;
    left: 0;
    top: 2rem;
    background-color: transparent !important;
    z-index: 1;

    .nav-link {
        color: $white !important;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .nav-item {
        opacity: 0.8;
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 2.9;

        img {
            border-radius: 100px;
            height: 40px;
            width: 40px;
            line-height: 1;
            display: inline-block;
            margin-right: 0.4rem;
        }
    }

    .navbar-brand {
        span {
            font-size: 1rem;
            color: $white;
            font-weight: 100;
        }

        span:before {
            content: '';
            border-style: solid;
            border-width: 0 1px 20px;
            border-color: rgb(255, 255, 255);
            opacity: 0.4;
            margin-left: 0.7rem;
            margin-right: 0.7rem;
            vertical-align: super;
        }
    }
}

//
// Search Header
//

.fs_search-header {
    background: url(../assets/backgrounds/search_bg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: $grid-gutter-width;
    height: auto;

    h2 {
        color: $white;
        font-weight: 100;
        font-size: 2.5rem;
        letter-spacing: -0.9px;
        margin-bottom: $grid-gutter-width;
    }

    .form-control {
        line-height: 3.3rem;
        border: 0;
        font-size: 1.25rem;
        font-weight: 300;
        color: $white;
        background: rgba(7, 48, 95, 0.3);
        box-shadow: inset 0 1px 3px 0 rgba(2, 8, 30, 0.11);
        border-radius: 4px;
    }
}

.fs_search-input {
    position: relative;

    input {
        padding-left: 4rem;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .fs_search-icon {
        position: absolute;
        padding: 1.6rem;
        pointer-events: none;
        z-index: 1;
    }
}

.fs_card {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 17px 0 rgba(103, 103, 103, 0.06);
    transition: all .5s ease;
    text-align: center;
    padding: 3rem;
    margin-bottom: $grid-gutter-width;

    img {
        margin-bottom: 45px;
        max-height: 45px;
        max-width: 45px;
    }

    h2 {
        color: $black;
        font-size: 1.23rem;
        font-weight: 700;
        line-height: 23px;
        margin-bottom: 15px;
    }

    p {
        color: $gray-500;
        font-size: 0.8rem;
        line-height: 15px;
        text-align: center;
        margin-bottom: 45px;
    }

    .fs_link {
        font-size: 0.7rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.6px;

        i {
            margin-left: 0.4rem;
            display: none;
        }
    }
}

.fs_card-link:hover {
    text-decoration: none;

    i {
        display: inline-block;
    }

    .fs_card {
        box-shadow: 0 10px 6px -6px rgba(103, 103, 103, 0.2);
    }
}

.fs_card-2 {
    width: 100%;
    border: 1px solid $gray-300;
    box-shadow: 0 4px 17px 0 rgba(103, 103, 103, 0.06);
    transition: all .5s ease;
    text-align: center;
    padding: 3rem;

    img {
        margin-bottom: 30px;
        height: 20px;
    }

    h3 {
        color: $black;
        font-size: 1.1rem;
    }

    p {
        color: $gray-500;
        font-size: 0.8rem;
        line-height: 1;
        text-align: center;
        margin-bottom: 25px;
    }
}

.fs_get-in-touch {
    padding: $grid-gutter-width;
}
